@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*, *::after, *::before{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	margin: 0;
}
a {
	color: #fff;
	text-decoration: none;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 300px;
	background-color: #000000;
	margin: 0;
	font-size: 20px;
	color: white;
	z-index: 999;
	position: sticky;
	top: 0;
}
.nav .links {
	display: flex;
	gap: 50px;
}
  
h1{
	color: white;
	margin-left: 50px;
	text-align: center;
	font-size: 250%;
}

.container{
	width: 1280px;
	margin: auto;
	padding: 32px 0;
}
.row{
	display: flex;
	flex-wrap: wrap;
}

.main {
	background-image: url("../images/jjk_bg2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-position: center;
	/* height: 100vh; */
	z-index: 100;
}

.home .video {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60vh;
	position: sticky;
	top: 84px;
	z-index: -1;

}

.home .video video {
	width: 100%;
	/* height: 30vh; */	
	/* position: sticky;
	top: 0;
	z-index: -1; */
}

.home .main .logo img {
	height: 200px;
	display: block;
	margin: 0 auto;
	/* margin-top: -200px; */
	transform: translate(0, -140px);
}

.wrapper {
	padding: 16px 0;
}

.poster-trailer {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	margin-top: -120px;
}

.home .main .infor {
	display: grid;
	gap: 20px;
	grid-template-columns: 1.2fr 3fr;
}

.home .main .infor .detail {
	color:white;
	font-size:100%;
	text-align:justify;
	padding: 30px;
	background-color:black;
}

.home .main .infor .desc {
	color:white;
	font-size:150%;
	text-align:justify;
	padding: 30px;
	background-color: rgba(0, 0, 0, .3);
}

.home .main .syn p {
	color:white;
	font-size:150%;
	text-align:justify;
	padding: 50px;
	margin:10px 0 0;
	background-color: rgba(0, 0, 0, .3);
}

.tech .main .tech-container {
	margin: 32px 5%;
	padding: 32px;
	display: grid;
	justify-content: center;
	align-items: center;
	color: #fff;
	gap: 32px;
	background-color: #24262ba0;
	border-radius: 40px;
	width: 90%;
}

.tech .main .tech-container.right {
	justify-items: right;
	grid-template-columns: 9fr 10fr;
	text-align: left;
}

.tech .main .tech-container.left {
	justify-items: left;
	grid-template-columns: 10fr 9fr;
	text-align: right;
}

.tech .main .tech-container .img {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tech .main .tech-container img {
	width: 560px;
	border-radius: 16px;
}

.tech .main .tech-container .text {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 24px;
}

.tech .main .tech-container h2 {
	padding: 8px 20px;
	width: 100%;
	background-color: blueviolet;
	font-size: 2rem;
	/* text-align: left; */
}

.tech .main .tech-container.right h2 {
	transform: translate(-70px, 0);
}

.tech .main .tech-container.left h2 {
	transform: translate(70px, 0);
}

ul{
	list-style: none;
}
.footer{
	background-color: black;
    padding: 70px 0;
		z-index: 990;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




